.title {
    color: #333;
    padding-bottom: 20px;
    text-align: center;
  }
  .text {
    color: #777;
    text-align: center;
  }

  .homecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nyheder {
     max-width:300px;
     display: flex;
  }