.title {
    color: #333;
    padding-bottom: 20px;
    text-align: center;
  }
  .text {
    color: #777;
    text-align: center;
  }

  .homecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nyheder {
     max-width:350px;
     display: flex;
     flex-direction: column;
  }

  .scrollBar{
    overflow:scroll; height:430px;
    overflow-x: hidden;
    
  }